body{
    background-image: url("fotos/fondo pagina web1.png");
    background-size: cover;
    background-position: center;
}
table{
    margin-right: auto;
    margin-left: auto;
}
h2{
    text-align: center;
    text-decoration-line: underline;
}
ol{
    text-align: center;
    justify-content: center;
    background-color : antiquewhite ;
    font-size: 25px;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}
hr{
    border:solid 2px;
}
span{
    font-size: 25px;
}
.Menu-Nav{
    list-style: none;
    padding: 0;
    background-color: grey;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.Menu-Nav li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.Menu-Nav li {
    display: inline-block;
    text-align: center;
}
.Menu-Nav li a:hover{
    background-color: orange;
}
.tablaFiguras{
    border: solid;
    margin: auto;
}
.imagenPrincipal{
    display: flex;
}
.imagenPrincipal p{
    font-size: 45px;
}
p{
    font-size: 25px;
}
.tablaArtistas {
    border: solid;
}
.festivalNacionalDeLaChacarera{
    display: flex;
}
.festivalNacionalDeLaChacarera p{
    font-size: 35px;
}
.introduccion {
    font-family: 'Roboto Condensed', sans-serif;
}
.error{
    border: 2px solid red;
}

.contenedorCarusel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.btnAvanzar, .btnRetroceder {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.btnAvanzar {
    right: 10px;
    transform: translateY(-50%);
}

.btnRetroceder {
    left: 10px;
    transform: translateY(-50%);
}

#imagenCarusel {
    width: 100%;
    display: block;
}
